<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Raheem Enterprises</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--

TemplateMo 546 Raheem Enterprises

https://templatemo.com/tm-546-raheem-enterprises

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

  <body>



    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Royal Mamas <em>& Tots</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
               <li class="nav-item dropdown">
                  <a class="nav-link" href="/products">
                   Products
                  </a>
                </li>>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacts</a>
              </li>
                 </li>
                <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <br><br><br><br><h2 class="text-center">Our Scarves Dashboard</h2>
  <div class="row">
{#      Versace#}
      <div class="col-3">
          <br><br><h3>Versace</h3>
          <div>
              <img src="../static/images/scarves/versace/versace-Salmon-pink-Square-Scarf.jpeg" alt="">
              <img height="300" src="../static/images/scarves/versace/versace-scarves-baroque-print-silk-scarf-00000125062f00s001.jpg" alt="">
              <img height="300" src="../static/images/scarves/versace/versace-BlackGold-Baroque-Detail-Silk-Scarf-blackgold-Scarves.jpeg" alt="">
          </div>
      </div>
{#      Vans#}
      <div class="col-3">
          <br><br><h3>Vans</h3>
          <div>
              <img height="250" width="250" src="../static/images/scarves/vans/s-l300.jpg" alt="">
          <img height="300" width="250" src="../static/images/scarves/vans/818QpyaFLaL._AC_UL1400_.jpg" alt="">
          <img height="300" src="../static/images/scarves/vans/dries-van-noten-khaki-silk-scarves.jpg" alt="">
          </div>

      </div>
{#      Louis Voitton#}
      <div class="col-3">
          <br><br><h3>Louis Voitton</h3>
          <div>
              <img height="300" src="../static/images/scarves/vl/louis-vuitton-brown-monogram-shine-shawl-scarfwrap-0-1-650-650.jpg" alt="">
              <img height="300" src="../static/images/scarves/vl/louis-vuitton-lv-crafty-bi-color-shawl-scarves-and-shawls--M76487_PM2_Front%20view.jpg" alt="">
              <img height="250" src="../static/images/scarves/vl/louis-vuitton--Wool-blend-Logomania-Scarf.jpeg" alt="">
          </div>
      </div>
{#      Adidas#}
      <div class="col-3">
          <br><br><h3>Adidas Classic</h3>
          <div>
              <img height="300" src="../static/images/scarves/adidas/A1azmfU3-WL._AC_UL320_.jpg" alt="">
              <img src="../static/images/scarves/adidas/external-large.jpg" alt="">
              <img height="300" src="../static/images/scarves/adidas/d773b0b13746118bc730899ff35204320348851d.medium.jpg" alt="">
          </div>
      </div>
              <a class="navbar-brand btn-block  text-center" href="/dashboard"><h2><button>Products<em class="text-danger">Dashboard</em></button></h2></a>
        <a class="navbar-brand btn-block  text-center" href="/clothings"><h2><button>Clothings<em class="text-danger">Dashboard</em></button></h2></a>
        <a class="navbar-brand btn-block  text-center" href="/products_dash"><h2><button>Main <em class="text-danger">Dashboard</em></button></h2></a>
  </div>


  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2021 Raheem Enterprises Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">Raheem</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

   <!-- Bootstrap core JavaScript -->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/owl.js"></script>
    <script src="../static/js/slick.js"></script>
    <script src="../static/js/isotope.js"></script>
    <script src="../static/js/accordions.js"></script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
</body>
</html>