<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Raheem Enterprises</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--

TemplateMo 546 Raheem Enterprises

https://templatemo.com/tm-546-raheem-enterprises

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

  <body>



    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Raheem <em>Enterprises</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/products" id="navbardrop" data-toggle="dropdown">
                   Products
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/shoes">Classic Shoes</a>
                    <a class="dropdown-item" href="/hoodies">Classic Hoodies</a>
                    <a class="dropdown-item" href="/scarves">Classic Scarves</a>
                    <a class="dropdown-item" href="/blankets">Blankets</a>
                    <a class="dropdown-item" href="/pull_necks">Pull Neck Sweaters</a>
                    <a class="dropdown-item" href="/marvins">Classic SMarvins</a>
                  </div>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacts</a>
              </li>
                 </li>
                <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <br><br><br><br><h2 class="text-center">Our Shoes Dashboard</h2>
<div class="row">
    <div class="col-3">
        <div>
{#        Adidas #}
            <br><br><h4>Adidas Classic</h4>
        <img src="../static/images/shoes/Adidas/adidas%20yzy.jpeg" alt="">
        <img src="../static/images/shoes/Adidas/addidas%20female.jpeg" alt="">
        <img src="../static/images/shoes/Adidas/addidas%20sply.jpeg" alt="">
        </div>

    </div>
    <div class="col-3">
        <div>
{#        Nike#}
            <br><br><h4>Super Nike</h4>
        <img src="../static/images/shoes/Nike/nikeretro4.jpeg" alt="">
        <img src="../static/images/shoes/Nike/nike270.jpeg" alt="">
        <img src="../static/images/shoes/Nike/nikeretro1.jpeg" alt="">

        </div>
    </div>
    <div class="col-3">
        <div>
{#        Vans#}
            <br><br><h4>Vans</h4>
        <img height="224" src="../static/images/shoes/vans/vans.jpeg" alt="">
        <img height="224" width="250" src="../static/images/shoes/vans/s-l400.jpg" alt="">
        <img height="224" width="250" src="../static/images/shoes/vans/hdm-vans-041-1596578366.jpg" alt="">
        </div>
    </div>
    <div class="col-3">
        <div>
{#        Louis Voitton#}
            <br><br><h4>Louis Voitton</h4>
            <img height="224" width="220" src="../static/images/shoes/vl/8a81c9b7c457c31494964f756d88d46a.jpg" alt="">
            <img height="224" width="220" src="../static/images/shoes/vl/2963ede64bb280ec39871200e8b1aab6.jpg" alt="">
            <img height="224" width="220" src="../static/images/shoes/vl/49572358_img-20200730-wa0047_1080x1080.jpg" alt="">
        </div>
    </div>
        <a class="navbar-brand btn-block  text-center" href="/dashboard"><h2><button>Products<em>Dashboard</em></button></h2></a>
</div>

  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2021 Raheem Enterprises Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">Raheem</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

   <!-- Bootstrap core JavaScript -->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/owl.js"></script>
    <script src="../static/js/slick.js"></script>
    <script src="../static/js/isotope.js"></script>
    <script src="../static/js/accordions.js"></script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


</body>
</html>