<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Raheem Enterprises</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--

TemplateMo 546 Raheem Enterprises

https://templatemo.com/tm-546-raheem-enterprises

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/owl.css">

  </head>

  <body>



    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
             <div>
               <img class="mr-2" src="../static/images/logo/hBE-d6cZ.jpg" height="60" width="60" alt="">
             </div>
          <a class="navbar-brand" href="/"><h2>Royal Mamas <em>& Tots</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                 <li style="color: red">
                    <a href=""><i class="fas fa-cart-plus"></i></a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item active">
                    <!-- Dropdown -->
                <li class="nav-item">
                    <a class="nav-link" href="/products">
                      Products
                    </a>

                </li>
              </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contacts</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <br><br><br><br><h1 class="text-center">Bath Toys <em class="text-danger">Dashboard</em></h1>

    <div class="row">
        <div class="col-3">
            <img src="../static/images/bathings/toy/images.jpeg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/57543de9bee259a2bdb150b730078b66.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/s-l300.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/71Qox6lZgsL.__AC_SX300_SY300_QL70_ML2_.jpg" height="300" width="300" alt="">
        </div>

        <div class="col-3">
            <img src="../static/images/bathings/toy/81NcsmCqd7L._AC_UL320_.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/97b8b95ae96cf87fc71f811c64bb724d.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/216-370_Product_Group_Shot_large.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/510Vcgoiu9L._SL250_.jpg" height="300" width="300" alt="">
        </div>

        <div class="col-3">
            <img src="../static/images/bathings/toy/614bS+PYaSS._AC_UL320_.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/baby-bath-toys-set-of-14-for-boys-girls-kids-baby-wishkey-original-imafjy8afwxpttg7.jpeg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/boat2.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/duck-family-bath-toy-white-popcorn-original-imaff74hquydynxy.jpeg" height="300" width="300" alt="">
        </div>

        <div class="col-3">
            <img src="../static/images/bathings/toy/il_340x270.2978588301_phm2.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/s-l225.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/SA100a_255x255.jpg" height="300" width="300" alt="">
            <img src="../static/images/bathings/toy/images%20(1).jpeg" height="300" width="300" alt="">
        </div>
         <a class="navbar-brand btn-block  text-center" href="/bathings"><h2><button>Bathings<em class="text-danger">Dashboard</em></button></h2></a>
         <a class="navbar-brand btn-block  text-center" href="/products_dash"><h2><button>Main <em class="text-danger">Dashboard</em></button></h2></a>
    </div>





  <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2021 Raheem Enterprises Co., Ltd.

            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">Raheem</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

   <!-- Bootstrap core JavaScript -->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/owl.js"></script>
    <script src="../static/js/slick.js"></script>
    <script src="../static/js/isotope.js"></script>
    <script src="../static/js/accordions.js"></script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

</body>
</html>